<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagina_profilo.css">
    <script src="/javascript/add_address.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css" integrity="sha512-ztsAq/T5Mif7onFaDEa5wsi2yyDn5ygdVwSSQ4iok5BPJQGYz1CoXWZSA7OgwGWrxrSrbF0K85PD5uLpimu4eQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--NAV BAR-->
    <link rel="stylesheet" href="../css/navbar.css">
    <!--FOOETR-->
    <link rel="stylesheet" href="../css/foter.css">
    
    <title>Il mio profilo</title>

</head>
    <body>
        <%- include('../public/html/navbar.html') %>
        <main>
            <div class="main_flex">

                <section id="section1">
                    <div id="nav_bar">

                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_navbar/user.png" alt="Profilo">
                            </div>
                            <center>
                                <a href="/profilo">Il mio profilo</a>
                            </center>
                        </div>

                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_footer/pagamenti.png" alt="Ordini">
                            </div>
                            <center>
                                <a href="/profilo">I miei ordini</a>
                            </center>
                        </div>

                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_navbar/carrello.png" alt="Vendite">
                            </div>
                            <center>
                                <a href="/profilo">Le mie vendite</a>
                            </center>
                        </div>

                        <div class="nav_container">
                            <div class="div_img">
                                <img src="/img/img_login/cestino_1.png" alt="Elimina account">
                            </div>
                            <center>
                                <a href="/profilo">Elimina il mio account</a>
                            </center>
                        </div>

                    </div>
                </section>

                <section id="section2">
                    <div class="main">
                        <div class="titolo">
                            <h1>Dati personali</h1>
                            <h2>Visualizza i miei dati personali :</h2>
                        </div>

                        <div class="grid_container">
                            <div class="grid_item grid_button">
                                <img src="../img/img_navbar/user.png" alt="User" style="width: auto; height: 20px;">
                            </div>
                            <div class="grid_item">
                                <div>
                                    <p><b>Nome & Cognome</b></p>
                                    <p><%= myres.nome %> <%= myres.cognome%></p> 
                                </div>
                                <hr>
                                <div>
                                    <p><b>Codice Fiscale</b></p>
                                    <p><%= myres.codicefiscale %></p>
                                </div>
                            </div>
                            <div class="grid_item">
                                <div>
                                    <p><b>Telefono</b></p>
                                    <p><%= myres.numeroTelefono %></p>
                                </div>
                                <hr>
                                <div>
                                    <p><b>Data di nascita</b></p>
                                    <p><%= myres.data_nascita.toISOString().split('T')[0] %></p>
                                </div>
                            </div>
                            <div class="grid_item grid_button">
                                <a href="/updateUser" class="bottone_modifica">
                                    <img src="../img/img_login/modifica.png" alt="" style="width: auto; height: 20px;">
                                </a>
                            </div>
                        </div>

                        <!--IBAN-->
                        <% if(myres.iban) { %>
                            <div class="grid_container">
                                <div class="grid_item grid_button">
                                    <img src="../img/img_footer/pagamenti.png" alt="carta" style="width: auto; height: 20px;">
                                </div>
                                <div class="grid_item2">
                                    <p><b>Il mio IBAN</b></p>
                                    <p><%= myres.iban %></p>
                                </div>
                                <div class="grid_item grid_button">
                                    <a href="/updateUser" class="bottone_modifica">
                                        <img src="../img/img_login/modifica.png" alt="" style="width: auto; height: 20px;">
                                    </a>
                                </div>
                            </div>
                        <% };%>

                        <div class="grid_container">
                            <div class="grid_item grid_button">
                                <img src="../img/img_login/email.png" alt="Email" style="width: auto; height: 20px;">
                            </div>
                            <div class="grid_item2">
                                <p><b>La mia E-mail</b></p>
                                <p><%= myres.email %></p>
                            </div>
                            <div class="grid_item grid_button">
                                <a href="/updateUser" class="bottone_modifica">
                                    <img src="../img/img_login/modifica.png" alt="" style="width: auto; height: 20px;">
                                </a>
                            </div>
                        </div>

                        <div class="grid_container">
                            <div class="grid_item  grid_button">
                                <img src="../img/img_login/password.png" alt="Password" style="width: auto; height: 20px;">
                            </div>
                            <div class="grid_item2">
                                <p><b>La mia Password</b></p>
                                <p>*********</p>
                            </div>
                            <div class="grid_item grid_button">
                                <a href="/updateUser" class="bottone_modifica">
                                    <img src="../img/img_login/modifica.png" alt="" style="width: auto; height: 20px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="section3">
                    <div class="main">
                        <div class="titolo">
                            <h1>Indirizzi</h1>
                            <h2>Visualizza i miei indirizzi e le carte di pagamento :</h2>
                        </div>
                        <h1><b>I miei indirizzi di consegna :</b></h1>
                        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
                            <% myres.indirizzi.forEach(function(value,key){ %>
                                <div class="carousel-cell">
                                    <div class="myAddress">
                                        <p><b>Indirizzo di Spedizione</b></p>
                                        <p><%= myres.nome %> <%= myres.cognome %></p>
                                        <p><%= value.via %>, <%= value.numero_civico %></p>
                                        <p><%= value.cap %>, <%= value.citta %></p>
                                        <p>Italia</p>  
                                        <div>
                                            <a href="/deleteAddress/<%=value._id%>">
                                                <img src="/img/img_login/cestino_1.png" alt="" style="width: 20px; height: 20x;">
                                                <b>Elimina</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <% });  %> 
                        </div>
                        <div>
                            <button onclick="add_address()" class="myButton">+ Aggiungi indirizzo</button>
                        </div>

                        <br>

                        <h1><b>I miei metodi di pagamento :</b></h1>
                        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
                            <% myres.carte.forEach(function(value,key){ %>
                                <div class="carousel-cell">
                                    <div class="myAddress">
                                        <p><b> Nome Carta: <%= value.nome_carta%> </b></p>
                                        <div id="info_carta">
                                            <img src="/img/img_footer/<%= value.nome_carta %>.png" alt="carta" width="20%" height="20%">
                                            <div>
                                                <p>Numero Carta: <%= value.numero_carta %></p>
                                                <p>Scadenza: <%= value.scadenza.toISOString().split('T')[0] %></p>
                                                <p>CVV: <%= value.cvv %></p>
                                            </div>
                                        </div> 
                                        <div>
                                            <a href="/deleteCard/<%=value._id%>">
                                                <img src="/img/img_login/cestino_1.png" alt="" style="width: 20px; height: 20x;">
                                                <b>Elimina</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <% });  %>
                        </div>
                        <div>
                            <button onclick="add_card()" class="myButton">+ Aggiungi Carta</button>
                        </div>
                    </div>
                </section>
            </div>
            <!--pop up add address-->
            <div id="add_address">
                <div id="address_form">
                    
                    <img src="../img/img_login/close.png" alt="close" onclick="close_form()" style="width: 15px;">
                    <center><h3>Aggiugni un nuovo indirizzo di consegna :</h3></center>
                    
                    <form action="/addAdress" method="post" enctype="application/x-www-form-urlencoded">
                        <input type="text" placeholder="Inserisci la tua via (es.) Via Giuseppe Garibaldi" name="via" required>
                        <input type="number" placeholder="Inserisci il tuo numero civico (es.) 18" name="numero_civico" required>
                        <input type="text" placeholder="Inserisci la città (es.) Correggio" name="citta" required>
                        <input type="text" placeholder="Inserisci il CAP della città (es.) 42015" name="cap" required>
                        <button type="submit">Salva & aggiungi</button>
                    </form>
                </div>
            </div>
            <!--pop up add address-->
            <div id="add_card">
                <div id="address_form">
                    
                    <img src="../img/img_login/close.png" alt="close" onclick="close_card()" style="width: 15px;">
                    <center><h3>Aggiungi un nuovo metodo di pagamento</h3></center>
                    
                    <form action="/addCard" method="post" enctype="application/x-www-form-urlencoded">
                        <select name="nome_carta" required>
                            <option value="postepay">Poste Pay</option>
                            <option value="paypal">PayPal</option>
                            <option value="visa">Visa</option>
                            <option value="mastercard">Mastercard</option>
                            <option value="nexi">Nexi pay</option>
                            <option value="maestro">maestro</option>
                        </select>
                        <input type="text" placeholder="Inserisci il numero della tua carta (es.) 5333-1721-0987-1212" name="numero_carta" required minlength="16" maxlength="16">
                        <input type="date" placeholder="Inserisci la data di scadenza" name="scadenza" required>
                        <input type="text" placeholder="Inserisci il CVV della tua carta (es.) 397" name="cvv" required minlength="3" maxlength="3">
                        <button type="submit">Salva & aggiungi</button>
                    </form>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js" integrity="sha512-Nx/M3T/fWprNarYOrnl+gfWZ25YlZtSNmhjHeC0+2gCtyAdDFXqaORJBj1dC427zt3z/HwkUpPX+cxzonjUgrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <br>
        <%- include('../public/html/foter.html')%>
    </body>
</html>