<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product list</title>
    <link rel="icon" href="/img/icon.svg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/product-list.css">

    <!--NAV BAR-->
    <link rel="stylesheet" href="../css/navbar.css">

</head>
<body>
    <!--INCLUDING  NAV BAR -->
    <%- include('../public/html/navbar.html') %>
    <br>
    <main>
        <div></div>
        <div>
            <ul>
                <li class="list_element"><h3>Abbigliamento</h3>
                    <ul class="ul_style">
                        <li class="list_element"> T-shirt & Polo</li>
                        <li class="list_element">Maglieria e Felpe</li>
                        <li class="list_element">Jeans</li>
                        <li class="list_element">Giacche</li>  
                        <li class="list_element">Cappotti</li>  
                        <li class="list_element">Completi</li>  
                        <li class="list_element">Camicie</li>  
                        <li class="list_element">Pantaloni</li>  
                    </ul>
                </li>
                <li class="list_element"><h3>Scarpe</h3></li>
                <ul class="ul_style">
                    <li class="list_element">Scarpe</li>
                    <li class="list_element">Scarpe Eleganti</li>
                    <li class="list_element">Mocassini</li>
                    <li class="list_element">Stivali</li>  
                </ul>
                <li class="list_element"><h3>Accessori</h3></li>
                <ul class="ul_style">
                    <li class="list_element">Borse</li>
                    <li class="list_element">Cinture</li>
                    <li class="list_element">Cravatte</li>
                    <li class="list_element">Papillon</li>
                    <li class="list_element">Sciarpe</li>
                    <li class="list_element">Portafogli</li>
                    <li class="list_element">Occhiali</li> 
                </ul>
                <li class="list_element"><h3>Gioelli</h3></li>
                <ul class="ul_style">
                    <li class="list_element">Collane</li>
                    <li class="list_element">Bracciali</li>
                    <li class="list_element">Anelli</li>
                    <li class="list_element">Orecchini</li>
                    <li class="list_element">Oro Giallo</li>
                    <li class="list_element">Oro Bianco</li>
                    <li class="list_element">Oro Rosa</li>
                </ul>
                <li class="list_element"><h3>Orologi</h3></li>
                <ul class="ul_style">
                    <li class="list_element">Orologi Meccanici</li>
                    <li class="list_element">Orologi Automatici</li>
                    <li class="list_element">Orologi Vintage</li>
                    <li class="list_element">Cronografo</li>
                    <li class="list_element">Orologi Subacquei</li>
                    <li class="list_element">Orologi da Aviatore</li>
                    <li class="list_element">Orologi Militari</li>
                    <li class="list_element">Orologi Nautici</li>
                </ul>
                <li class="list_element"><h3>Second Hand</h3></li>
                <ul class="ul_style">
                    <li class="list_element">Orologi</li>
                    <li class="list_element">Gioelli</li>
                    <li class="list_element">Abbigliamento</li>
                    <li class="list_element">Scarpe</li>
                    <li class="list_element">Borse</li>
                    <li class="list_element">Cinture</li>
                    <li class="list_element">Occhiali</li>
                </ul>
            </ul>
        </div>
        <div>
            <div class="filter">
                <div><button class="button">Filtro1</button></div>
                <div><button class="button">Filtro2</button></div>
                <div><button class="button">Filtro3</button></div>
                <div><button class="button">Filtro4</button></div>
                <div><button class="button">Filtro5</button></div>
                <div><button class="button">Filtro6</button></div>
                <div><button class="button">Filtro7</button></div>
                <div><button class="button">Filtro8</button></div>
            </div>
            <div class="container">
                
                <!-- E J S   Q U I -->
                <% if(mess){ %>
                     <div class="prodotto">
                        <h2> <%= mess %> </h2>
                     </div>
                <% } else{ %>
                    <% myres.forEach(function(value,key){ %>
                    
                        <div class="prodotto">
                            <div class="image">
                                <a href="#"><img src="../upload/<%= value.foto[0].url %>"></a>
                            </div>
                            <div class="dettagli">
                                <h2> <%= value.brand %> </h2>
                                <% if(value.modello){ %>
                                    <h4> <%= value.modello %> - <%= value.categoria %> - <%= value.dettagli.carica %></h4>
                                    <h4><%= value.prezzo %>$</h4>
                                <% } %>
                                <% if(value.nome_prodotto){ %>
                                    <h4> <%= value.nome_prodotto %> - <%= value.categoria %> - <%= value.prodotti_disponibili[0].colore %></h4>
                                    <h4><%= value.prodotti_disponibili[0].taglia.prezzo %>$</h4>
                                <% } %>

                            </div>
                        </div>
                    
                    <% });  %>
                <% }; %>
                
            </div>
        </div>
        <div></div>
    </main>
</body>
</html>